*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 100%;
    height: 100vh;
    background-image: url("../img/背景宽.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#return_key img{
    width: 120px;
}

#head_word{
    text-align: center;
    font-size: 70px;
    margin:30px;
    font-family:'hdjxingshu3a356a5d68256d1';
    color:#cda08c92;
    font-weight: 300;
}

#mooncake{
    margin: 100px 0px 0px 0px;
    text-align: center;
}

#rabbit{
    position: absolute;
    bottom: 30px;
    left: 30px;
    visibility: hidden;
}

#pop{
    visibility: hidden;
    position: fixed;
    /* aspect-ratio: 33 / 25; */
    width: 80vw;
    min-height: 80vh;
    height: auto;
    border: 5px solid #3c5977;
    top: 7vh;
    left: 10vw;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-shadow: 10px 5px 5px #3c5977b5; */
    border-radius: 45px;
}

#pop h2{
    font-size: 40px;
    text-align: center;
    padding: 30px 0px 100px;
}

#pop blockquote{
    font-size: 30px;
    text-indent: 2em;
    margin: 30px;
    font-family: 仿宋;
    font-weight: 700;
}

#mainimg{
    width: 390px;
}

#additionimg{
    width: 200px;
}

@media screen and (max-width: 970px) {
    #container{
        background-image: url("../img/背景窄.jpg");
        height: auto;
    }
    #head_word{
        font-size: 50px;
    }
    #addition_top{
        height: 150px;
    }
    #rabbit{
        position: relative;
        width: 140px;
    }
    #pop blockquote{
        font-size: 27px;
    }
}

@media screen and (max-width: 500px){
   #head_word{
    font-size: 30px;
   }
   #addition_top{
    height: 50px;
   }
   #pop blockquote{
    font-size: 20px;
    }
    #mainimg{
        width: 300px;
    }
    #additionimg{
        width: 130px;
        margin: 30px 0px;
    }
}