*{
    margin: 0;

}
.container-fluid{
    height: 100vh;
    background-image: url("../../img/背景.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}
h1{
    font-family: 'hdjxingshu3a356a5d68256d1',serif;
    cursor: default;
}
h2{
    font-family: kaiti,serif;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea {
    border: 1px solid rgb(210,210,210,0.5);
    font-family: 'YouYuan',serif;
    font-size: 1.3em;
    outline: none;
    padding: 15px;
    height: 106px;
    resize: none;
    background-color: transparent;
    opacity:0.5;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}
textarea:focus{
    box-shadow:silver 0px 0px 10px;
    border-radius: 6px;

}
.title_box{
    text-align: center;
    height: 40px;
    padding: 15px;
    font-family: 'YouYuan',serif;
    font-size: 1.6em;
    opacity: 0.5;
    width: 200px;
    border: 1px solid rgb(210,210,210,0.5);
    margin-bottom: 10px;
}
.title_box:focus{
    box-shadow:silver 3px 3px 10px;
}
#writer_box{
    text-align: center;
    height: 20px;
    padding: 15px;
    font-family: 'YouYuan',serif;
    font-size: 1em;
    opacity: 0.5;
    width: 200px;
    border: 1px solid rgb(210,210,210,0.5);
    margin-bottom: 10px;
    float: right;
}
#writer_box:focus{
    box-shadow:silver 0px 0px 10px;
}

.btn{
    padding: 10px;
    margin-left: 30px;
    float: right;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: white;
    display: block;
    font-family: kaiti,serif;
    font-size: 1.2em;
}
.btn:hover{
    background: linear-gradient(90deg, #A163F7 25%, #6F88fc 50%, #45e3ff 75%, #F5F5DC 100%);
    color: white;
    box-shadow:silver 5px 5px 10px;
    transition: .4s ease;
}
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top:300px ;
    padding-bottom: 5%;
}
.history{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    font-family: YouYuan,serif;
    font-size: 1.6em;
    margin-top: 80px;
    text-align: center;
}
.ul{
    text-align: center;
}
.history_box{
    width: 40%;
    margin: auto;
    margin-top: 10px;
    position: relative;
    /*border: 1px solid red;*/
}
.history_box:hover{
    box-shadow:silver 5px 5px 10px;
    cursor: pointer;
    transition: .8s;
}
.ul > .li{
    display: inline-block;
    text-align: center;
    /*display: inline;*/
    width: 80%;
    margin-top: 10px;
    height: 300px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.name{
    float: right;
    display: block;
}
.writer_name{
    font-family: kaiti,serif;
    font-size: 1.6em;
}
.text{
    font-size: 1.4em;
    font-family: 'kaiti',serif;
    letter-spacing:3px;
    line-height: 1.4;
}
.clearfix{
    clear: both;
}
#pageup{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}
#pagedown{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    float: right;
}
.prev i,
.next i {
    font-size: 90px;
    color: black;;
    cursor: pointer;
    padding: 5px;
    opacity: 0.5;

}
.prev i:hover,
.next i:hover{
    background-color: silver;
    color: black;opacity: 1;
    border-radius: 10px;
    transition: .5s;
    box-shadow:silver 5px 5px 10px;
}
.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
.shell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(99, 99, 99, 0.8);
}
.button_click{
    color: red;
}
#back_button:hover{
    cursor: pointer;
    background-color: rgb(211,211,211,0.4);
    border-radius: 10px;
}
#back_button{
    position: fixed;
}
.shell_slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: transparent;
}
#delete{
    float: right;
    padding: 10px;
}
/*明信片部分*/

@media screen and (max-width: 970px) {
    #container{
        background-image: url("/img/背景窄.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
    .history{
        font-size: 1.1em;
    }
}
@media screen and (max-width: 500px) {


}

