*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    height: 100vh;
    background-image: url("../../img/赏月背景.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    position: relative;

}
.img{
    display: block;
    /*margin: 0 auto;*/
    /*width: 100%em;*/
    text-align: center;
    padding-top: 20px;
}
.img2txt{

}
.container{
    width: 70%;
    margin:0 auto;

}
#calendar{
    width: 50px;
    height: 50px;
    margin-right: 7% ;
    cursor: pointer;
    border-radius: 5px;
}
#calendar:hover{
    background-color:silver;
}
#important{
    margin-left: 3%;
    cursor: pointer;
    border-radius: 50%;
}
#important:hover{
    background-color:silver;
}
#font{
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    font-family: kaiti,serif;
    font-weight: bold;
    cursor: default;

}
#time{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5%;
    font-family: kaiti,serif;
    font-weight: bold;
    cursor: pointer;

}