*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
/* .head1
{
    filter:blur(20px)
}

.color1
{
    height: 550px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(44, 58, 87), rgb(54, 65, 90));
    background-color: aliceblue;
}

.color2
{
    height: 550px;
    width: 100%;
    background:rgb(54, 65, 90);
    background-color: blue;
} */
.button
{
    background-color:rgb(44, 58, 87);
    /* background-color:blue; */

    height:800px; 
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:60px;
    z-index: 5;
}
.button img
{
    z-index:10;
}
#button1
{
    width:30vh;
}
#button2
{
    width:35vh;
}
#button3
{
    width:30vh;
}
body 
{
    background-color: rgb(44, 58, 87);
    /* background-color: white; */
    min-height: 100vh;
    overflow-x: hidden;
}
.logo 
{
    margin-right: auto;
    visibility: hidden;
}
.parallax
{
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    width: 100%;
}
.parallax img
{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: auto;
    /* pointer-events: none; */
}
/* #moon 
{
    position: relative;
    top:-15vh;
    width: 600px; 
    height: 600px; 
    border-radius: 50%;
    object-fit: cover;
} */
#moon {
    position: fixed;
    /* top: -20vh; */
    left: 50vw;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    border-radius: 50%;
    object-fit: cover;
    animation: moonAppear 2s forwards;
    z-index: -5; 
}

@keyframes moonAppear {
    0% {
        width: 0;
    }
    100% {
        width: 80vw;
    }
}
#left1,#left2,#right1,#right2
{
    z-index: 1;
} 
footer
{
    background-color: #000000;
    color: #b7b7b7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#left1
{
    position: absolute;
    z-index: 2;
    object-fit: cover; 
    animation: an_left1 5s forwards; 
} 
@keyframes an_left1 
{
    0%{
        transform: translate(-300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#left2
{
    z-index: 2;
    position: absolute;
    transform: translate(0% -100%);
    bottom: 0px;
    left: 0px;
    object-fit: cover; 
    animation: an_left2 5s forwards; 
} 
@keyframes an_left2 
{
    0%{
        transform: translate(-300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right1
{
    position: absolute;
    z-index: 2;
    object-fit: cover; 
    animation: an_right1 5s forwards; 
} 
@keyframes an_right1 
{
    0%{
        transform: translate(300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right2
{
    position: absolute;
    transform: translate(-100%,-100%);
    bottom: 0px;
    right: 0px;
    z-index: 15;
    object-fit: cover; 
    animation: an_right2 5s forwards; 
} 
@keyframes an_right2 
{
    0%{
        transform: translate(300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}


@media (max-width: 900px)
{
    @keyframes moonAppear 
    {
        0% {
            width: 0;
        }
        100% {
            width: 120vw;
        }
    }

    #left2,#left1,#right2,#right1
    {
        /* height:500px; */
        width: 110vw;
    }
  
}
@media(max-width:900px)
{
    .button
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1400px;
        padding:50px 0;
    }

    
    #button1
    {
        width:200px;
        margin: 20px 0;
    }
    #button2
    {
        width:200px;
        margin: 20px 0;
    }
    #button3
    {
        width:200px;
        margin: 20px 0;
    }
}

/* @media(max-width:1100px)
{
    #left2,#right2
    {
        position: absolute;
        bottom: 0;
    }
} */