*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
/* .head1
{
    filter:blur(20px)
}

.color1
{
    height: 550px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(44, 58, 87), rgb(54, 65, 90));
    background-color: aliceblue;
}

.color2
{
    height: 550px;
    width: 100%;
    background:rgb(54, 65, 90);
    background-color: blue;
} */
.button
{
    background-color:#ede9db;
    height:800px; 
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px;
    z-index: 5;
}
.button img
{
    z-index:10;
}
#button1
{
    width:30vh;
}
#button2
{
    width:40vh;
}
#button3
{
    width:30vh;
}
body 
{
    background-color: rgb(44, 58, 87);
    min-height: 100vh;
    overflow-x: hidden;
}
.logo 
{
    margin-right: auto;
    visibility: hidden;
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* #moon 
{
    position: relative;
    top:-15vh;
    width: 600px; 
    height: 600px; 
    border-radius: 50%;
    object-fit: cover;
} */
#moon {
    position: relative;
    top: -20vh;
    width: 0;
    height: 0; 
    border-radius: 50%;
    object-fit: cover;
    animation: moonAppear 2s forwards;
    z-index: 0; 
}

@keyframes moonAppear {
    0% {
        width: 0;
        height: 0; 
    }
    100% {
        width: 50vw; 
        height: 50vw; 
    }
}
#left1,#left2,#right1,#right2
{
    z-index: 1;
} 
footer
{
    background-color: #000000;
    color: #b7b7b7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#left1
{
    z-index: 2;
    object-fit: cover; 
    animation: an_left1 5s forwards; 
} 
@keyframes an_left1 
{
    0%{
        transform: translate(-300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#left2
{
    z-index: 2;
    object-fit: cover; 
    animation: an_left2 5s forwards; 
} 
@keyframes an_left2 
{
    0%{
        transform: translate(-300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right1
{
    z-index: 2;
    object-fit: cover; 
    animation: an_right1 5s forwards; 
} 
@keyframes an_right1 
{
    0%{
        transform: translate(300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right2
{
    z-index: 2;
    object-fit: cover; 
    animation: an_right2 5s forwards; 
} 
@keyframes an_right2 
{
    0%{
        transform: translate(300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}


@media (max-width: 900px) {
    #moon {
      top: -35vh;
    }
  }
  
