*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}
.color1
{
    background:rgb(15, 75, 195);
}

body 
{
    background-color: rgb(44, 58, 87);
    min-height: 100vh;
    overflow-x: hidden;
}
.logo 
{
    margin-right: auto;
    visibility: hidden;
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* #moon 
{
    position: relative;
    top:-15vh;
    width: 600px; 
    height: 600px; 
    border-radius: 50%;
    object-fit: cover;
} */
#moon {
    position: relative;
    top: -15vh;
    width: 0;
    height: 0; 
    border-radius: 50%;
    object-fit: cover;
    animation: moonAppear 2s forwards;
    z-index: 0; 
}

@keyframes moonAppear {
    0% {
        width: 0;
        height: 0; 
    }
    100% {
        width: 600px; 
        height: 600px; 
    }
}
#left1,#left2,#right1,#right2
{
    z-index: 1;
} 
footer
{
    background-color: #000000;
    color: #b7b7b7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#left1
{
    z-index: 2;
    object-fit: cover; 
    animation: an_left1 5s forwards; 
} 
@keyframes an_left1 
{
    0%{
        transform: translate(-300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#left2
{
    z-index: 2;
    object-fit: cover; 
    animation: an_left2 5s forwards; 
} 
@keyframes an_left2 
{
    0%{
        transform: translate(-300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right1
{
    z-index: 2;
    object-fit: cover; 
    animation: an_right1 5s forwards; 
} 
@keyframes an_right1 
{
    0%{
        transform: translate(300px, -100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}

#right2
{
    z-index: 2;
    object-fit: cover; 
    animation: an_right2 5s forwards; 
} 
@keyframes an_right2 
{
    0%{
        transform: translate(300px, 100px);
    }
    100%
    {
        transform: translate(0, 0);
    }
}
